body {
  background:url(../images/phylowidget/treetile.png) repeat;
}

/* Take Note: must list all buttons by name */
#searchButton-button,
#treeButton-button,
#nodeButton-button,
#decorationButton-button,
#UpdateTreeButton-button,
#SaveTreeButton-button,
#ExampleTreeButton-button
{
  background:url(../images/phylowidget/sprite.png) repeat-x 0 -1400px;
  color:white;
  letter-spacing:1px;
}

.key {
  background:whitesmoke;
  color:green;
  text-align:right;
  width:50%;
}

.decKey {
  width:10%;
  background:whitesmoke;
  color:green;
}

.value {
  background:ivory;
  padding-left:5px;
}

.footerText {
  margin-top:-5px;
  font-size:9pt;
  text-align:center;
  width:95%;
}
		
.link {
  color:blue;
  font-family:comic sans ms;
  cursor:pointer;
}

span.link:hover {
  color:gray;
}

h1,h2,h3 {
  font-family:comic sans ms;
}

#header {
  font-family:helvetica;
  color:steelblue;
  font-size:32pt;
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  height:60px;
  border:2px solid gray;
}

.titlebar {
  background:lightgrey;
  border:1px solid lightgrey;
  margin:-1px;
  height:30px;
  width:100%;
  text-align:center;
  font-family:helvetica;
  font-size:12pt;
  cursor:move;
}

.searchbar {
  clear:both;
}

.container {
  overflow:auto;
  clear:both;
  padding:5px;
  width:100%;
  margin:5px;
}

.buttons {
  float:right;
  cursor:pointer;
}

#searchInput {
  float:left;
  width:55%;
}

#searchAutocompleteContainer {
  float:left;
  width:55%
}

#searchResultsContainer {
  clear:both;
}

.hidden {
  display:none;
}

#showhide {
  position:fixed;
  top:20px;
  right:10px;
  padding:5px;
  z-index:99999;
}

//#showhide .label {
//  margin-top:-15px;
//  padding-left:5px;
//  padding-right:5px;
//  width:3em;
//  background:#EEEEEE;
//  border:none;
//}

#nodeContainer,
#decorationContainer {
  font-size: 10pt;
  height:100%;
  overflow:auto;
}


/*
/ Below, we override some properties of the YUI 'sam' skin for
/ panel components
*/

#search,
#widget,
#node,
#decoration,
#tree,
#clip,
#node {
  border-right:4px solid #2647A0;
  border-left:3px solid #3D67CE;
  border-bottom:4px solid #2647A0;
  border-top:3px solid #3D67CE;
}

#widget .bd {
  visibility: inherit;
}

.yui-skin-sam .yui-panel .hd {
  height:20px;
  padding-bottom: 2px;
  background:url('../images/phylowidget/sprite.png') repeat-x 0 -1410px;
  border-left:none;
  border-right:1px solid #2647A0;
  letter-spacing:1px;
  font-family:helvetica;
  color:white;
  text-align:center;
}

.yui-skin-sam .yui-panel .ft {
  height: 1px;
  border-left:none;
}

.yui-skin-sam .yui-panel .bd {
  background: white;
  visibility: inherit;
  border-left:none;
}

#node.bd,
#decoration.bd {
  overflow:auto;
}

.yui-skin-sam .yui-panel .yui-resize-handle-br {
  right:0;
  bottom:0;
  height: 8px;
  width: 8px;
  position:absolute;
  background:url(../images/phylowidget/resize_drag_handle.png) bottom right no-repeat;
}

.yui-skin-sam .container-close {
  top:4px;
}



